<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{ count('') }}</span></div>
    <div>Space Debris: <span>{{ count('space debris') }}</span></div>
    <div>Communication: <span>{{ count('communication') }}</span></div>
    <div>Probe: <span>{{ count('Probe') }}</span></div>
    <div>Positioning: <span>{{ count('Positioning') }}</span></div>
    <div>Space Station: <span>{{ count('Space Station') }}</span></div>
    <div>Telescope: <span>{{ count('Telescope') }}</span></div>
</div>